
@model FA.JustBlog.Core.Models.Post

@{
    ViewData["Title"] = "Edit";
    // var listTag = (IEnumerable<ListPostTag>) ViewBag.ListTag;
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea id="mytextarea" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="View" class="control-label"></label>
                <input asp-for="View" class="form-control" />
                <span asp-validation-for="View" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PostTags" class="control-label"></label>
                <select multiple name="PostTags" class="form-control">
                    @{
                        foreach (var item in ViewBag.ListTag)
                        {
                            if (item.IsSelected)
                            {
                                <option value="@item.TagId" selected>@item.TagName</option>
                            }else
                            {
                                <option value="@item.TagId" >@item.TagName</option>

                            }
                        }
                    }
                </select>

            </div>
            <div class="form-group">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                </label>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
